<div class="jumbotron">
  <img class="akronpng" src="images/UAWordmark_282.png" alt="Sponsered by The University of Akron"><br>
  <h1>Design Team 02</h1>
  <p class="lead">
    Induction motor monitoring platform for checking irregularities.
  </p>
</div>

<div class="row marketing">
  <h4>Decoupled motor analysis</h4>
  <p>
    Our system decouples analysis from the embedded device to a server, allowing for greater flexibility.
  </p>

  <h4>Mobile Friendly</h4>
  <p>
    View motor information over the network on any device with a browser.
  </p>

  <h4>Endless Possibilities</h4>
  <p>Get data and process it as you wish.</p>
</div>
